.color-title{
    font-weight: normal;
}

img{
    width: 200px;
    height: 200px;
}

#yellow{
    color: yellow;
}

#orange{
    color: orange;
}

#blue{
    color: blue;
}

#beige{
    color: beige;
}

#white{
    color: white;
}

#sky-blue{
    color: skyblue;
}

#fuchsia{
    color: fuchsia;
}

#grey{
    color: grey;
}

#brown{
    color: brown;
}

#purple{
    color: purple;
}

#black{
    color: black;
}

#red{
    color: red;
}

#pink{
    color: pink;
}

#turquoise{
    color: turquoise;
}

#green{
    color: green;
}

#lime-green{
    color: limegreen;
}


